/* ---------- General ---------- */

html * {
  font-family: Arial;
}

body, .nav {
  margin: 0;
}

/* ---------- Main Navigation ---------- */

.nav {
  background-color: #323232;
  text-align: center;
}

.nav:after {
  content: "";
  display: table;
  clear: both;
}

.nav .nav__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
}

.nav .nav__links a {
  color: #fff;
  display: inline-block;
  margin-left: -4px;
  padding: 17px 20px;
  text-decoration: none;
}

.nav .nav__links a:first-child {
  margin-left: 0;
}

.nav .nav__links a:hover {
  background-color: #000;
}

.nav__hamburger {
  display: none;
  float: right;
  margin-right: 12px;
}

.nav__hamburger .nav__icon {
  display: block;
  fill: #fff;
}

/* ---------- Sub Navigation ---------- */

.dropdown-nav {
  display: none;

}

.dropdown-nav .dropdown-nav__links a {
  background-color: #000;
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.dropdown-nav .dropdown-nav__links a:hover {
  background-color: #323232;
}

/* ---------- Media Queries ---------- */

@media all and (min-width:961px) {
  .dropdown-nav {
    display: none !important;
  }
}

@media all and (max-width: 960px) {
  .nav__links {
    display: none;
  }

  .nav__hamburger {
    display: block;
    padding: 10px 0;
    text-align: right;
  }
}
